<div class="sign-page">
  <div class="form-wrapper">
    <h2 class="signup-title">新規登録</h2>
    <div class="account-form">
    <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
    <%# <%= render "devise/shared/error_messages", resource: resource %> 
      <%# ニックネーム入力 %>
      <div class="form-item">
        <p class="form-title">
          <i class="fa-solid fa-user"></i>
          <label class= "form-text">ニックネーム</label>
        </p>
        <%= f.text_field :nickname, placeholder: "8文字以内で入力して下さい", maxlength: "8", autofocus: true, autocomplete: "nickname" %>
      </div>
      <%# メールアドレス入力 %>
      <div class="form-item">
        <p class="form-title">
          <i class="fa-solid fa-envelope"></i>
          <label class= "form-text">メールアドレス</label>
        </p>
        <%= f.email_field :email, placeholder: "@を入れて入力して下さい", autocomplete: "email" %>
      </div>
      <%# パスワード入力 %>
      <div class="form-item">
        <p class="form-title">
          <i class="fa-solid fa-lock"></i>
          <label class= "form-text">パスワード</label>
        </p>
        <%= f.password_field :password, placeholder: "英数字6文字以上で入力して下さい", autocomplete: "new-password" %>
      </div>
      <%# 確認用パスワード入力 %>
      <div class="form-item">
        <p class="form-title">
          <i class="fa-solid fa-unlock"></i>
          <label class= "form-text">確認用パスワード</label>
        </p>
        <%= f.password_field :password_confirmation, placeholder: "もう一度入力して下さい", autocomplete: "new-password" %>
      </div>
      <%# サインアップボタン %>
      <div class="button-panel">
        <%= f.submit "新規登録", class: "button" %>
      </div>
    <% end %>
    </div>
    <%# ログインページへのリンク %>
    <div class="form-footer">
      <p><%= link_to "アカウントをお持ちの方", new_user_session_path %></p>
    </div>
  </div>
</div>