<div class="profile-page">
  <div class="profile-contents">
    <div class="profile-content">
      <%# マイページの上部を表示 %>
      <div class="wrap-top">
        <%# アイコン画像と編集ページへのリンクボタンを表示 %>
        <div class="user-left">
          <%# アイコン画像を表示 %>
          <div class="profile-field-img">
            <p class="profile-img">
              <% if @user.avatar.present? %>
                <%= image_tag @user.avatar.url, size: "180x180", class: "profile-avatar" %>
              <% else %>
               <%= image_tag "default-image.png", size: "180x180", class: "profile-avatar" %>
              <% end %>
            </p>
          </div>
          <%# ユーザー編集ページに遷移するボタンを表示 %>
          <div class="profile-edit-btn">
          <% if user_signed_in? && @user == current_user %>
            <%= link_to "プロフィール編集", edit_user_path(@user), class: "profile-btn" %>
          <% end %>
          </div>
        </div>
        <div class="user-center">
          <%# ユーザー名、年齢、総いいね数を表示 %>
          <div class="profile-nickname">
            <p class="prof_name">
              <%= @user.nickname %>
            </p>
          </div>
          <div class="profile-age">
          <% if @user.age_id != 1 %>
            <p class="prof_age">
              <% if @user.age.present? %>
                <%= @user.age.name %>
              <% end %>
            </p>
          <% end %>
          </div>
          <div class="profile-favo">
            <i class="fas fa-heart unlike-btn2"></i>
            <span class="favorite-count"><%= @favorite_count %></span>
          </div>
          <% if user_signed_in? && @user != current_user %>
            <div id="follow-form">
              <% if current_user.following?(@user) %>
                <%= render "unfollow_button" %>
              <% else %>
                <%= render "follow_button" %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="user-right">
          <%# 自己紹介を表示 %>
          <div class="profile-field-intro">
          <% if @user.introduction.present? %>
            <p class="prof_intro">
              <%= @user.introduction %>
            </p>
          <% end %>
          </div>
        </div>
      </div>
      <%# マイページの下部を表示 %>
      <div class="wrap-bottom">
        <%# タブ部分 %>
        <ul class="tab-list">
          <li class="tab tab-active">
            <h4>美容投稿</h4>
          </li>
          <li class="tab">
            <h4>お悩み投稿</h4>
          </li>
          <li class="tab">
            <h4>フォロー　<%= @following_users.count %></h4>
          </li>
          <li class="tab">
            <h4>フォロワー　<%= @follower_users.count %></h4>
          </li>
        </ul>
        <%# タブで選択されて表示されるコンテンツ %>
        <div class="tabbox-contents">
          <div class="tabbox box-show">
            <%# 美容投稿コンテンツを表示 %>
            <%= render partial: "contents", locals: { posts: @post1 } %>
          </div>
          <div class="tabbox">
            <%# お悩み投稿コンテンツを表示 %>
            <%= render partial: "contents", locals: { posts: @post2 } %>
          </div>
          <div class="tabbox">
            <%# フォローリスト表示 %>
            <%= render partial: "following_users", locals: { following_users: @following_users } %>
          </div>
          <div class="tabbox">
            <%# フォロワーリスト表示 %>
            <%= render partial: "follower_users", locals: { follower_users: @follower_users } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>