<div class="sign-background">
  <div class="container">
    <div class="row px-3">
      <%= form_with model: @user, url: user_session_path, local: true do |f| %>
      <div class="col-xs-8 col-lg-6 mx-auto">
        <div class="col-xs-9 col-lg-5 mx-auto pt-5" style="max-width: 22rem;">
          <h2 class="text-black mb-5 mt-5 head-text">ログイン</h2>
        </div>
        <div class='login-flash-message'>
          <%= flash[:notice] %>
          <%= flash[:alert] %>
        </div>
        <%# メールアドレス入力 %>
        <div class="mb-3">
          <p class="form-title">
            <i class="fa-solid fa-envelope"></i>
            <%= f.label :email, "メールアドレス", class: "form-label" %>
          </p>
          <%= f.email_field :email, placeholder: "@を入れて入力して下さい", autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
        <%# パスワード入力 %>
        <div class="mb-5">
          <p class="form-title">
            <i class="fa-solid fa-lock"></i>
            <%= f.label :password, "パスワード", class: "form-label" %>
          </p>
          <%= f.password_field :password, placeholder: "英数字6文字以上で入力して下さい", autocomplete: "new-password", class: "form-control" %>
        </div>
        <%# サインアップボタン %>
        <div class="col-xs-9 col-lg-5 mt-4 button-panel mx-auto" style="max-width: 22rem;">
          <%= f.submit "ログイン", class: "button" %>
        </div>
        <%# 新規登録ページへのリンク %>
        <div class="col-xs-9 col-lg-5 mt-1 button-panel mx-auto form-footer" style="max-width: 19rem;">
          <p><%= link_to "アカウントをお持ちでない方", new_user_registration_path %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
