<div class="full-background">
  <div class="container-fluid">
    <%# 投稿一覧ページのタイトル表示 %>
    <div class="row">
      <div class="col-xs-8 col-lg-4 mx-auto">
        <h2 class="text-black mb-4 mt-4 head-text">
          <% if @category_id == "2"%>
            美容投稿
          <% else %>
            お悩み投稿
          <% end %>
        </h2>
      </div>
    </div>
    <%# 投稿一覧表示 %>
    <div class="row row-cols-1 row-cols-lg-4 g-4">
      <% @posts.each do |post| %>
        <div class="col">
          <%= link_to post_path(post.id) do %>
          <div class="card border border-secondary">
            <%# ヘッダーに投稿者のアイコン画像といいね数を表示 %>
            <div class="card-header">
              <div class="col-auto me-auto">
                <% if post.user.avatar.present? %>
                  <%= image_tag post.user.avatar.url, width: "50", height: "50", class: "img-fluid rounded-circle border border-info head-avatar", alt: "..." %>
                <% else %>
                  <%= image_tag "default-image.png", width: "50", height: "50", class: "img-fluid rounded-circle border border-info head-avatar", alt: "..."  %>
                <% end %>
              </div>
              <div class="col-auto">
                <i class="fas fa-heart unlike-btn"></i><%= post.favorites.count %>
              </div>
            </div>
            <%# 投稿した画像の一枚目を表示&画像が無ければ、ダミー画像表示 %>
            <% if post.images[0] != nil%>
              <% post.images.each do |image|%>
                <%= image_tag image.to_s, width: "250", height: "250", class: "card-img border border-secondary", alt: "カードの画像" %>
                <% break %>
              <% end %>
            <% else %>
              <%= image_tag "noimage.png", width: "250", height: "250", class: "card-img border border-secondary", alt: "カードの画像" %>
            <% end %>
            <%# 投稿タイトルとタグを表示 %>
            <div class="card-body">
              <h5 class="card-title"><b><%= post.title %></b></h5>
              <p class="card-text">
                <% post.tags.each do |n| %>
                  <i>#<%= n.tagname %><i>
                <% end %>
              </p>
            </div>
            <%# フッターに投稿してどの程度経った投稿か分かるように表示 %>
            <div class="card-footer text-muted">
              <i class="far fa-clock clock-icon"></i><%= time_ago_in_words(post.created_at) %>前
            </div>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>