<div class="full-background">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-12 mx-auto mt-5">
        <%# 投稿内容詳細を表示 %>
        <div class="card border-secondary border-3 mt-5">
          <%# ヘッダー：投稿ユーザーのアイコン/ユーザーネーム/いいねボタン/(投稿者本人なら)編集ボタン/削除ボタン表示 %>
          <div class="card-header bg-transparent border-secondary border-2 card-top">
            <div class="col-auto me-auto">
              <% if @user.avatar.present? %>
                <%= image_tag @user.avatar.url, width: "80", height: "80", class: "avatar", alt: "..." %>
              <% else %>
                <%= image_tag "default-image.png", width: "80", height: "80", class: "avatar", alt: "..."  %>
              <% end %>
              <i><%= link_to @user.nickname, user_path(@post.user.id), class: "user-name" %></i>
            </div>
            <div class="col-auto mr-5">
              <div id = "post_<%= @post.id %>">
                <span class="like-btn"><%= render partial: "favorites/favorite", locals: { post: @post } %></span>
              </div>
              <% if user_signed_in? && current_user.id == @post.user.id %>
                <div class="mr-5 text-muted">
                  <%# 投稿編集ボタン表示 %>
                  <%= link_to edit_post_path(@post.id), method: :get, class: "text-decoration-none" do %>
                    <div class="edit-btn">
                      編集<i class="fa-solid fa-pen-to-square mt-3"></i>
                    </div>
                  <% end %>
                </div>
                <div class="mr-5 text-muted">
                  <%# 投稿削除ボタン表示 %>
                  <%= link_to post_path(@post.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "text-decoration-none"  do %>
                    <div class="delete-btn">
                      削除<i class="fa-solid fa-trash-can"></i>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
          <%# メイン部分：画像３枚/タイトル/肌質・部位/本文(タグ) %>
          <div class="card-body text-dark">
            <%# 画像を３枚表示 %>
            <div class="row mb-4 mt-4">
              <% image_count = 3 - @post.images.count %>
              <% @post.images.each do |image|%>
                <div class="col-4 image-hidden">
                  <div class="image border border-1">
                    <%= image_tag(image.to_s, class: "img img-responsive full-width") %>
                  </div>
                </div>
              <% end %>
              <% image_count.times do %>
                <div class="col-4 img-hidden">
                  <div class="image border border-1">
                    <%= image_tag("noimage.png", class:"img img-responsive full-width") %>
                  </div>
                </div>
              <% end %>
            </div>
            <%# タイトル表示 %>
            <h4 class="card-title mb-1"><b><%= @post.title %></b></h4>
            <%# 肌質・部位表示 %>
            <small class="card-subitems mb-4 text-muted">
            <%# skin_idもしくはpart_idが1だったら出力を行う %>
              <% if @post.skin_id != 1 || @post.part_id != 1 %>
                <%# skin_idかつpart_idが1ではなかったら両方とも表示 %>
                <% if @post.skin_id != 1 && @post.part_id != 1 %>
                  <%= @post.skin.name %>/<%= @post.part.name %>
                <%# part_idが1かつskin_idが1でない場合skin.nameを表示 %>
                <% elsif @post.part_id == 1 && @post.skin_id != 1 %>
                  <%= @post.skin.name %>
                <%# skin_idが1かつpart_idが1でない場合part.nameを表示 %>
                <% elsif @post.skin_id == 1 && @post.part_id != 1 %>
                  <%= @post.part.name %>
                <% end %>
              <% end %>
            </small>
            <p class="card-text">
              <p><%= @post.detail %></p>
              <% @post.tags.each do |n| %>
                <i class=“mt-2”>#<%= n.tagname %></i>
              <% end %>
            </p>
          </div>
          <%# フッター：コメントフォーム/コメント一覧 %>
          <div class="card-footer bg-transparent border-secondary border-2">
            <h3 class="comment-title mt-3 mb-4" style="max-width: 18rem;">コメント一覧</h3>
            <%# コメント入力フォーム %>
            <div class="mb-4">
              <% if user_signed_in? %>
                <%= form_with(model:[@post, @comment], local: true) do |f| %>
                  <%= render 'layouts/error_messages', model: f.object %>
                  <%= f.text_area :content, placeholder: "コメント入力", maxlength: "300", class: "form-control", rows: "3", style: "height: 100px" %>
                  <div class="mt-3"><%= f.submit "送信する", class: "btn btn-info" %></div>
                <% end %>
              <% end %>
            </div>
            <%# コメント件数表示 %>
            <h4 class=" mt-5 mb-2 comment-cnt" style="max-width: 13rem;">コメント件数：<%= @post.comments.count %></h4>
            <%# コメント一覧表示 %>
            <div class="col mt-3 mb-2 px-2 border border-3">
              <% if @post.comments.present? %>
                <div class="my-2">
                <% @post.comments.each do |comment| %>
                  <% if comment.user == current_user %>
                    <%= link_to post_comment_path(comment.post, comment), method: :delete, class: "delete-btn", data: {confirm: "本当に削除しますか？"} do %>
                      <i class="fa-solid fa-trash-can"></i>
                    <% end %>
                  <% end %>
                  <i><%= link_to comment.user.nickname, user_path(comment.user.id), class: "ml-5 user-name" %></i>
                  <p>
                    <%= comment.content %><small class="text-muted">（<%= time_ago_in_words(comment.created_at) %>前）</small>
                  </p>
                <% end %>
                </div>
              <% else %>
                <p class="text-muted mt-2">コメントはまだ有りません</p>
              <% end %>
            <div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>