<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# ヘッダー %>
    <header class="header">
      <div class="nav">
        <div class="nav__left">
            <%= link_to image_tag("polishine-logo.png", class: :logo), root_path %>
        </div>
        <% if user_signed_in? %>
          <div class="nav__right">
            <%= link_to "投稿する", new_post_path, class: "post" %>
            <%= link_to current_user.nickname, "#" %>
            <%= link_to "ログアウト", destroy_user_session_path , method: :delete %>
            <%= link_to "マイページ", user_path(current_user.id) %>
            <%# <%= link_to "カレンダー", "#" %>
          </div>
        <% else %>
          <div class="nav__right">
            <%= link_to "新規登録", new_user_registration_path, class: "post" %>
            <%= link_to "ログイン", new_user_session_path, class: "post" %>
          </div>
        <% end %>
      </div>
    </header>
    <%# メイン %>
    <main class="main">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
    <%# フッター %>
    <footer class="footer">
      <p class="copyright">COPYRIGHT ©  Polishan Inc. All rights Reserved.</p>
    </footer>
  </body>
</html>
